master-workflow-v1.json
{
  "name": "master-workflow-v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "1426b9e2-c404-476d-9814-2a4c43bfb489",
      "name": "Schedule Trigger (Daily 2AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qTtc4ULnRIgo5IrevLph9UU1eNmJvFlRRN9RKku2O00",
          "mode": "list",
          "cachedResultName": "Indian-Artist-names",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qTtc4ULnRIgo5IrevLph9UU1eNmJvFlRRN9RKku2O00/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qTtc4ULnRIgo5IrevLph9UU1eNmJvFlRRN9RKku2O00/edit#gid=0"
        },
        "options": {}
      },
      "id": "b463032f-5a12-4821-9a8f-2f7067b5cdf2",
      "name": "Read Artist Names from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1056,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WRmpUgKwEk78bBoP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "1d06f645-84d9-4500-8f88-5bb4e64a70ff",
      "name": "Loop Over Artists",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst rawName = item['Artist names'] || item['Artist Name'] || item['name'] || Object.values(item)[0] || '';\nconst cleanName = rawName.replace(/\\s*\\((?:band|rapper|singer|artist|musician|duo|group|dj)\\)/gi, '').trim();\nconst displayName = rawName.trim();\nconst wikiName = cleanName.replace(/ /g, '_');\nconst twitterHandle = cleanName.replace(/\\s+/g, '');\nreturn [{ json: { artistName: cleanName, displayName, wikiName, twitterHandle } }];"
      },
      "id": "a62a29c3-940a-4989-9c9c-fce180273864",
      "name": "Extract & Clean Artist Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/api/rest_v1/page/summary/{{ encodeURIComponent($json.wikiName) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "IndianArtistScraper/1.0 (n8n-workflow)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c1fb93c7-5215-4fbe-8873-98743d61e110",
      "name": "Wikipedia FREE - Get Artist Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst extract = data.extract || '';\nconst description = data.description || '';\nlet age = null, gender = null, genre = null, nationality = null;\n\nconst birthYearPatterns = [/born(?:[^(\\d]*)(\\d{4})/i, /\\((\\d{4})[-–]/];\nfor (const pat of birthYearPatterns) {\n  const m = extract.match(pat);\n  if (m) { const yr = parseInt(m[1]); if (yr > 1940 && yr < 2015) { age = new Date().getFullYear() - yr; break; } }\n}\nconst directAge = extract.match(/(\\d{2,3})(?:\\s*-year-old|\\s*years\\s*old)/i);\nif (!age && directAge) age = parseInt(directAge[1]);\n\nconst fem = (extract.match(/\\b(she|her|hers|actress|female)\\b/gi) || []).length;\nconst mal = (extract.match(/\\b(he|him|his|male)\\b/gi) || []).length;\nif (fem > mal && fem >= 2) gender = 'Female';\nelse if (mal > fem && mal >= 2) gender = 'Male';\n\nconst GENRES = ['Bollywood','Punjabi','Ghazal','Classical','Sufi','Devotional','Bhangra','Playback','Pop','Rock','Hip-hop','R&B','Jazz','Folk','Soul','Indie','Electronic','Rap','Trap'];\nfor (const g of GENRES) {\n  if (new RegExp('\\\\b' + g + '\\\\b', 'i').test(extract)) { genre = g; break; }\n}\n\nconst NATS = ['Indian','Pakistani','Bangladeshi','Sri Lankan','American','British','Canadian','Australian'];\nnationality = 'Indian';\nfor (const n of NATS) {\n  if (new RegExp('\\\\b' + n + '\\\\b', 'i').test(extract + ' ' + description)) { nationality = n; break; }\n}\n\nconst wikiUrl = data.content_urls?.desktop?.page || null;\nreturn [{ json: { age, gender, genre, nationality, wikiUrl } }];"
      },
      "id": "8434d943-90b4-4d68-9db7-68a711f7db34",
      "name": "Parse Wikipedia Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        48
      ]
    },
    {
      "parameters": {
        "url": "=https://facebook-scraper3.p.rapidapi.com/search/people?query={{ encodeURIComponent($json.artistName) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "facebook-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "ad3cfb0e3fmsh61b94886051cc15p168759jsn2409786c8921"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9362a23e-508a-4c0c-881e-2a8fde784c2a",
      "name": "Facebook - Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nlet facebookUrl = null;\nlet facebookFollowers = null;\n\ntry {\n  // The /page/details endpoint returns data directly or nested\n  const page = data.data || data.page || data.result || data;\n\n  // Get URL — prefer vanity/username URL\n  facebookUrl =\n    page.profile_url ||\n    page.url         ||\n    page.link        ||\n    null;\n\n  // Get followers — try every known field name\n  const raw =\n    page.followers       ||\n    page.followers_count ||\n    page.fan_count       ||\n    page.fans            ||\n    page.likes           ||\n    page.likesCount      ||\n    null;\n\n  // Convert \"29M\" / \"1.2M\" / \"29,000,000\" strings to integer\n  if (raw !== null) {\n    const s = String(raw).replace(/,/g, '').trim();\n    if (/M$/i.test(s)) {\n      facebookFollowers = Math.round(parseFloat(s) * 1_000_000);\n    } else if (/K$/i.test(s)) {\n      facebookFollowers = Math.round(parseFloat(s) * 1_000);\n    } else {\n      facebookFollowers = parseInt(s) || null;\n    }\n  }\n\n} catch(e) {}\n\nreturn [{ json: { facebookUrl, facebookFollowers } }];"
      },
      "id": "11637fea-b607-4367-bb15-f2138a2611db",
      "name": "Parse Facebook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://twitter-x-api.p.rapidapi.com/api/user/detail?username={{$json.twitterHandle}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "=ad3cfb0e3fmsh61b94886051cc15p168759jsn2409786c8921"
            },
            {
              "name": "x-rapidapi-host",
              "value": "twitter-x-api.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "5e014363-98d6-42e4-9784-7fdbbba425d5",
      "name": "Twitter/X - Get Artist Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        912
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "7d24924a-2052-4aa2-8294-daaddfafb9f8",
      "name": "Merge 1: Wiki + YouTube",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3120,
        64
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "5181fa43-b5fe-41a3-ada3-6c09f6cfa4ca",
      "name": "Merge 2: + Spotify",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3312,
        432
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "46c82f12-7530-486d-9148-7c2abdce4eb6",
      "name": "Merge 3: + Apple Music",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3552,
        656
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "3a855928-d685-4b46-8909-2c81b42bcebe",
      "name": "Merge 4: + Facebook",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3984,
        896
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "a0a15d45-1294-4e6c-9c15-f30a7cce2fa3",
      "name": "Merge 6 Final: + Instagram",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4240,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst artistCtx = $('Extract & Clean Artist Name').item?.json || {};\nconst artistName  = artistCtx.artistName  || d.artistName  || 'Unknown';\nconst displayName = artistCtx.displayName || artistName;\nreturn [{\n  json: {\n    artistName,\n    displayName,\n    age:                     d.age ?? null,\n    gender:                  d.gender ?? null,\n    genre:                   d.genre ?? null,\n    nationality:             d.nationality ?? null,\n    wikiUrl:                 d.wikiUrl ?? null,\n    instagramUrl:            d.instagramUrl ?? null,\n    instagramFollowers:      d.instagramFollowers ?? null,\n    facebookUrl:             d.facebookUrl ?? null,\n    facebookFollowers:       d.facebookFollowers ?? null,\n    twitterUrl:              d.twitterUrl ?? null,\n    twitterFollowers:        d.twitterFollowers ?? null,\n    spotifyUrl:              d.spotifyUrl ?? null,\n    spotifyMonthlyListeners: d.spotifyMonthlyListeners ?? null,\n    youtubeUrl:              d.youtubeUrl ?? null,\n    youtubeSubscribers:      d.youtubeSubscribers ?? null,\n    appleMusicUrl:           d.appleMusicUrl ?? null,\n    appleMusicListeners:     d.appleMusicListeners ?? null,\n    lastUpdated:             new Date().toISOString()\n  }\n}];"
      },
      "id": "0bb76ea4-97bb-4682-a8af-ba7a4e3cb101",
      "name": "Finalize Merged Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst esc = v => v ? String(v).replace(/'/g, \"''\") : null;\nconst str = v => (v !== null && v !== undefined) ? `'${esc(v)}'` : 'NULL';\nconst num = v => (v !== null && v !== undefined && !isNaN(parseInt(v))) ? parseInt(v) : 'NULL';\n\nconst query = `\nINSERT INTO artists (\n  \"artistName\", \"displayName\", age, gender, genre, nationality, \"wikiUrl\",\n  \"instagramUrl\",  \"instagramFollowers\",\n  \"facebookUrl\",   \"facebookFollowers\",\n  \"twitterUrl\",    \"twitterFollowers\",\n  \"spotifyUrl\",    \"spotifyMonthlyListeners\",\n  \"youtubeUrl\",    \"youtubeSubscribers\",\n  \"appleMusicUrl\", \"appleMusicListeners\",\n  \"lastUpdated\"\n) VALUES (\n  ${str(d.artistName)}, ${str(d.displayName)}, ${num(d.age)}, ${str(d.gender)}, ${str(d.genre)}, ${str(d.nationality)}, ${str(d.wikiUrl)},\n  ${str(d.instagramUrl)},  ${num(d.instagramFollowers)},\n  ${str(d.facebookUrl)},   ${num(d.facebookFollowers)},\n  ${str(d.twitterUrl)},    ${num(d.twitterFollowers)},\n  ${str(d.spotifyUrl)},    ${num(d.spotifyMonthlyListeners)},\n  ${str(d.youtubeUrl)},    ${num(d.youtubeSubscribers)},\n  ${str(d.appleMusicUrl)}, ${num(d.appleMusicListeners)},\n  NOW()\n)\nON CONFLICT (\"artistName\") DO UPDATE SET\n  \"displayName\"            = EXCLUDED.\"displayName\",\n  age                      = EXCLUDED.age,\n  gender                   = EXCLUDED.gender,\n  genre                    = EXCLUDED.genre,\n  nationality              = EXCLUDED.nationality,\n  \"wikiUrl\"                = EXCLUDED.\"wikiUrl\",\n  \"instagramUrl\"           = EXCLUDED.\"instagramUrl\",\n  \"instagramFollowers\"     = EXCLUDED.\"instagramFollowers\",\n  \"facebookUrl\"            = EXCLUDED.\"facebookUrl\",\n  \"facebookFollowers\"      = EXCLUDED.\"facebookFollowers\",\n  \"twitterUrl\"             = EXCLUDED.\"twitterUrl\",\n  \"twitterFollowers\"       = EXCLUDED.\"twitterFollowers\",\n  \"spotifyUrl\"             = EXCLUDED.\"spotifyUrl\",\n  \"spotifyMonthlyListeners\" = EXCLUDED.\"spotifyMonthlyListeners\",\n  \"youtubeUrl\"             = EXCLUDED.\"youtubeUrl\",\n  \"youtubeSubscribers\"     = EXCLUDED.\"youtubeSubscribers\",\n  \"appleMusicUrl\"          = EXCLUDED.\"appleMusicUrl\",\n  \"appleMusicListeners\"    = EXCLUDED.\"appleMusicListeners\",\n  \"lastUpdated\"            = NOW()\n`.trim();\n\nreturn [{ json: { ...d, sqlQuery: query } }];"
      },
      "id": "86f7a492-4cc0-4d3c-bd26-50bbac49b8bc",
      "name": "Build Upsert SQL Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sqlQuery }}",
        "options": {}
      },
      "id": "503ba142-788a-4cd9-9602-1dcc73559b88",
      "name": "Postgres - Upsert Artist Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5008,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconsole.log(`✅ Saved: ${d.displayName || d.artistName}`);\nreturn [{ json: { success: true, artistName: d.artistName, displayName: d.displayName, savedAt: new Date().toISOString() } }];"
      },
      "id": "4700246f-9697-4200-aa22-3fa179083b6a",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1376
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ 'FAILED: ' + ($json.displayName || $json.artistName || 'Unknown') }}"
      },
      "id": "679be79b-0e51-4462-bfdc-a020b20ff62f",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1456,
        1264
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"snippet\",\n  \"q\": \"={{ $json.artistName }} official\",\n  \"type\": \"channel\",\n  \"maxResults\": 1,\n  \"key\": \"AIzaSyDzawMdYGSKKz7andCAi9WsjEzssUFRP6w\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        256
      ],
      "id": "2037249f-3ba2-4da4-93a3-3147065cca17",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.channelId }}"
            },
            {
              "name": "key",
              "value": "AIzaSyDzawMdYGSKKz7andCAi9WsjEzssUFRP6w"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        256
      ],
      "id": "dbc2652d-fe65-4f4c-8766-861f53a1d996",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37fdf733-2fc7-4390-8167-c8b8d5a8f677",
              "name": "artist",
              "value": "={{ $json.items[0].snippet.title }}",
              "type": "string"
            },
            {
              "id": "a2341f84-4884-4d2e-96a2-1ef08e5dd6fc",
              "name": "channelId",
              "value": "={{ $json.items[0].snippet.channelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        256
      ],
      "id": "b73ca04d-f7e2-4572-9232-c02be0ac21ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4c45b4e-030e-4bec-a114-45be0f627ac1",
              "name": "items[0].snippet.title",
              "value": "={{ $json.items[0].snippet.title }}",
              "type": "string"
            },
            {
              "id": "689531ee-5c14-47c0-a15b-bce35d85123b",
              "name": "items[0].id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "8ba6e02f-4a7f-4c9c-b5c4-4641cf85ef7c",
              "name": "items[0].statistics.subscriberCount",
              "value": "={{ $json.items[0].statistics.subscriberCount }}",
              "type": "string"
            },
            {
              "id": "5ac8c193-05b5-4e86-b21c-5cce0a0994ed",
              "name": "items[0].statistics.viewCount",
              "value": "={{ $json.items[0].statistics.viewCount }}",
              "type": "string"
            },
            {
              "id": "dafc9475-a40b-4a8f-a4e6-99389d920756",
              "name": "items[0].statistics.videoCount",
              "value": "={{ $json.items[0].statistics.videoCount }}",
              "type": "string"
            },
            {
              "id": "057dd5d9-3458-4f95-a2cc-ef8ec1924e36",
              "name": "items[0].snippet.country",
              "value": "={{ $json.items[0].snippet.country }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        256
      ],
      "id": "da31fdf8-b19b-4b21-9ac6-3b579d533626",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const stats = $json.items[0].statistics;\n\nconst subs = Number(stats.subscriberCount);\nconst views = Number(stats.viewCount);\nconst videos = Number(stats.videoCount);\n\n// Avg views per video\nconst avgViews = views / videos;\n\n// Growth indicator\nconst growthScore = avgViews / subs;\n\nreturn [{\n  json: {\n    artist: $json.items[0].snippet.title,\n    subscribers: subs,\n    views: views,\n    videos: videos,\n    avgViews: Math.round(avgViews),\n    growthScore: growthScore.toFixed(4)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        256
      ],
      "id": "636920e7-04ac-4d48-ab23-6ce3db40a86c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI that finds the official Instagram username of a music artist.\n\nInput:\nArtist Name: {{ $json['Artist names'] }}\n\nTask:\n- Find the most likely official Instagram username of this artist.\n- The account must be verified or widely recognized as the official account.\n- Return ONLY the username (without @).\n- If multiple accounts exist, return the most popular/official one.\n- If no reliable account is found, return \"NOT_FOUND\".\n\nOutput format (STRICT JSON):\n{\n  \"name\": \"{{$json[\"Name\"]}}\",\n  \"instagram_username\": \"username_here\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1808,
        1216
      ],
      "id": "6f4dadaf-2c5c-49f0-b527-e85ca38f4125",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "6Mz13bKgxte2CJXp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba064548-378e-4602-acd8-c2e168c7a42b",
              "name": "instagram_username",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].replace(/```json|```/g, \"\"))[\"instagram_username\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2224,
        1216
      ],
      "id": "40c7d710-22ef-4e5d-938a-1d7436f655bc",
      "name": "instagram username1"
    },
    {
      "parameters": {
        "url": "=https://instagram-statistics-api.p.rapidapi.com/community",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ \"https://www.instagram.com/\" + $json.instagram_username + \"/\" }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ffc32c3d2emsh6ac15e6ee4a499dp13f567jsn265240b434bc"
            },
            {
              "name": "x-rapidapi-host",
              "value": "instagram-statistics-api.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2496,
        1216
      ],
      "id": "1c826693-40ef-4948-921e-29384eb2aba4",
      "name": "rapid-instagram-statistics1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "219dc8e5-d4b4-498d-acfb-60a4ad037bc6",
              "name": "name",
              "value": "={{$json[\"data\"][\"name\"]}}",
              "type": "string"
            },
            {
              "id": "c6fa5638-d4e6-448b-bfc1-0d4e4f890dde",
              "name": "followers",
              "value": "={{$json[\"data\"][\"usersCount\"]}}",
              "type": "number"
            },
            {
              "id": "ee33d1e4-ff08-4c02-8a47-b3bebb6fd368",
              "name": "instagram_username",
              "value": "={{$json[\"data\"][\"screenName\"]}}",
              "type": "string"
            },
            {
              "id": "ea2a5aa2-d09a-4bc7-a87d-530159fc5d4d",
              "name": "instagram_profile_url",
              "value": "={{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        1216
      ],
      "id": "1168879b-ec71-4024-b626-e13d3bb0c41f",
      "name": "name-username-followers1"
    },
    {
      "parameters": {
        "url": "=https://spotify-statistics-and-stream-count.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.artistName }}"
            },
            {
              "name": "type",
              "value": "artist"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "spotify-statistics-and-stream-count.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "ad3cfb0e3fmsh61b94886051cc15p168759jsn2409786c8921"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        448
      ],
      "id": "73e8aaee-916f-4145-923f-ed2af9c6d2c1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://spotify-statistics-and-stream-count.p.rapidapi.com/artist/{{$json[\"artists\"][0][\"id\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "ad3cfb0e3fmsh61b94886051cc15p168759jsn2409786c8921"
            },
            {
              "name": "x-rapidapi-host",
              "value": "spotify-statistics-and-stream-count.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        448
      ],
      "id": "8948ecca-354e-4589-89d7-30e5a98ea18e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22ccd444-571b-4a95-a61d-eaf7b82cd0bc",
              "name": "artist_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "822fb572-da27-4fa6-b1ac-b160a44d9436",
              "name": "followers",
              "value": "={{ $json.followers }}",
              "type": "number"
            },
            {
              "id": "8dd68dc2-b5a8-4845-a942-1166819c1cb9",
              "name": "monthlyListeners",
              "value": "={{ $json.monthlyListeners }}",
              "type": "number"
            },
            {
              "id": "b302557c-624a-4f12-85cb-20860f9b6876",
              "name": "worldRank",
              "value": "={{ $json.worldRank }}",
              "type": "number"
            },
            {
              "id": "3649f797-eb74-48b8-b70a-e01d77eefa25",
              "name": "topCities",
              "value": "={{ $json.topCities }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        448
      ],
      "id": "dfbe890b-ea52-412f-a0f8-077a2c63db65",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://facebook-scraper3.p.rapidapi.com/page/details?url={{ encodeURIComponent($json.results[0].profile_url) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "facebook-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "ad3cfb0e3fmsh61b94886051cc15p168759jsn2409786c8921"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        672
      ],
      "id": "094c03ea-6556-4bc8-b237-f02c4981aabe",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "content": "## WikiPedia\n",
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        32
      ],
      "typeVersion": 1,
      "id": "aefb72f6-c3a3-4c02-9ba3-74b3b6887889",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## YouTube\n",
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        240
      ],
      "typeVersion": 1,
      "id": "95b97805-de21-4ecf-bfd1-28c8f071ba21",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Spotify\n",
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        432
      ],
      "typeVersion": 1,
      "id": "dfb4e5a8-6199-4b34-b445-08db207def27",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Facebook",
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        640
      ],
      "typeVersion": 1,
      "id": "be08241d-4a79-4e67-afa1-3841c5ab04bf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Twitter",
        "height": 208,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        848
      ],
      "typeVersion": 1,
      "id": "9d8bc1ea-51b4-4113-aedc-869201aa2af0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Instagram",
        "height": 240,
        "width": 1344
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        1152
      ],
      "typeVersion": 1,
      "id": "82fbcc4c-14b5-4ef3-bed4-f959b7c64aff",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af31830e-ab62-4f91-91d7-41152749a83e",
              "name": "twitter-username",
              "value": "={{ $json.user.result.legacy.screen_name }}",
              "type": "string"
            },
            {
              "id": "c694e8dd-cf14-43c3-99e6-85533a11d44d",
              "name": "twitter-followers",
              "value": "={{ $json.user.result.legacy.followers_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        912
      ],
      "id": "dd41a154-301c-4dac-a447-a1c4ffe3be28",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 2AM)": {
      "main": [
        [
          {
            "node": "Read Artist Names from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Artist Names from Google Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Artists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Artists": {
      "main": [
        [],
        [
          {
            "node": "Extract & Clean Artist Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Clean Artist Name": {
      "main": [
        [
          {
            "node": "Wikipedia FREE - Get Artist Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook - Search Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter/X - Get Artist Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia FREE - Get Artist Summary": {
      "main": [
        [
          {
            "node": "Parse Wikipedia Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Wikipedia Data": {
      "main": [
        [
          {
            "node": "Merge 1: Wiki + YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 1: Wiki + YouTube": {
      "main": [
        [
          {
            "node": "Merge 2: + Spotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2: + Spotify": {
      "main": [
        [
          {
            "node": "Merge 3: + Apple Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3: + Apple Music": {
      "main": [
        [
          {
            "node": "Merge 4: + Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook - Search Page": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Facebook Data": {
      "main": [
        [
          {
            "node": "Merge 3: + Apple Music",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 4: + Facebook": {
      "main": [
        [
          {
            "node": "Merge 6 Final: + Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/X - Get Artist Profile": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 6 Final: + Instagram": {
      "main": [
        [
          {
            "node": "Finalize Merged Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Merged Data": {
      "main": [
        [
          {
            "node": "Build Upsert SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert SQL Query": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Artist Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Artist Data": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Loop Over Artists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge 1: Wiki + YouTube",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "instagram username1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram username1": {
      "main": [
        [
          {
            "node": "rapid-instagram-statistics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rapid-instagram-statistics1": {
      "main": [
        [
          {
            "node": "name-username-followers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name-username-followers1": {
      "main": [
        [
          {
            "node": "Merge 6 Final: + Instagram",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge 2: + Spotify",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Parse Facebook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge 4: + Facebook",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d846eff4-e9f1-482d-83f4-c8eaae20f379",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a1bc2d2ff1236be87f3aa8bea5acf8eb669f64b3bf5760d888b8161986c701e"
  },
  "id": "CDHGHpB7RP0pR4k6",
  "tags": [
    {
      "updatedAt": "2026-04-19T02:36:17.531Z",
      "createdAt": "2026-04-19T02:36:17.531Z",
      "id": "1ZDf6Ps9Dux1CETO",
      "name": "merge-fixed"
    },
    {
      "updatedAt": "2026-04-19T02:11:12.194Z",
      "createdAt": "2026-04-19T02:11:12.194Z",
      "id": "5dC7T2R7WbwlDx15",
      "name": "indian-artist-scraper"
    }
  ]
}